body{
	width:100%;
	
}
.title {
	text-align: center;
}
#resultat{
	
	padding: 20px;
}

#resultat form label{
	float: left;
	width: 200px;
}
#widthGlobal {
	width:80%;
	margin-left: 10%;
}


#resultat, #resultat p.tweet{
	clear:both;
	overflow: hidden;
}

#resultat p.tweet img{float: right;}

#resultat p.tweet span{
	width: 820px;
	height: auto;
	float:left;
	margin: 10px;
}
.listTweet {

	width:100%;
}
.userText {
	font-family:helvetica;
	margin-left: 250px;
	width:500px;
}
.userName {
	font-family:helvetica;
	font-weight: bold;
	margin-left: 50px;
	margin-right: 100px;
	width:100px;
	text-align: center;
}

.userImage {
	width:70px;
	margin-left: 100px;
}
.titleTweet {
	font-weight: bold;
	margin-bottom: 15px;
}
